.AddItems {
  width: 550px;
  height: 500px;
  border: 2px solid #000;
  margin: 0 auto;

}
.Order {
  width: 500px;
  height: 500px;
  border: 2px solid #000;
  position: absolute;
  top: 10px;
  left: 20px;
}
